.encase {
    margin: auto;
    font-family: 'haas';
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sendEthButtonStyles{ 
    margin: 0 auto;
    /* outline: 2px blue dotted */
}
.ticker {
    margin: 0 auto;
    /* outline: 2px red dotted; */
}
@font-face {
    font-family: "haas";
    src: url(Fonts/NeueHaasDisplayRoman.ttf);
}