.encase {
    font-family: 'haas';
    font-size: 48px;
}
.ETH{
    font-family: 'haas_bold';
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.tickertext{
    text-align: center;
    margin: 0;
}
@font-face {
    font-family: "haas";
    src: url(Fonts/NeueHaasDisplayLight.ttf)
}
@font-face {
    font-family: "haas_bold";
    src: url(Fonts/NeueHaasDisplayBold.ttf);
}

header {
    margin: 0;
    height: 0;
    padding: 0;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}

.ethButton {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: black;
    border: none;
    padding: 10px;
    font-size: 15px      ;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
}